:root {
  --container-prose: var(--ds-container-prose);
  --container-wide: var(--ds-container-wide);
  --layout-hero-height: var(--ds-layout-hero-height);
  --layout-row-height: var(--ds-layout-row-height);
  --layout-sheet-height: var(--ds-layout-sheet-height);
  --layout-sheet-height-tall: var(--ds-layout-sheet-height-tall);
  --layout-sidebar-width: var(--ds-size-sidebar);
  --layout-list-width: var(--ds-size-list);
  --layout-list-height: var(--ds-size-list-height);
  --ratio-portrait: var(--ds-ratio-portrait);
  --ratio-square: var(--ds-ratio-square);
  --ratio-video: var(--ds-ratio-video);

  --grid-min-col: var(--ds-size-grid-min);
  --grid-min-col-sm: var(--ds-size-grid-min-sm);
  --grid-min-col-lg: var(--ds-size-grid-min-lg);

  --breakpoint-compact: var(--ds-size-compact);
  --breakpoint-narrow: var(--ds-size-narrow);
}
