@layer features {
  @scope (.marquee-selection-section) {
    .surface {
      cursor: crosshair;
      touch-action: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}
